# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Xcode specific
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# App data
*.ipa
*.dSYM.zip
*.dSYM

# Provisioning profiles
*.mobileprovision

# Symbolication
*.symbolication

# User-specific
*.swp
*.lock
*.orig
*.log

# Swift Package Manager checkouts
.checkouts/

# Misc
*.orig
*.rej